<div class="container-bank-digital">
    <div class="w-100 row g-0">
        <div class="col-6 content-text">
            <h1 class="title-bank"><span class="title-bank-color">El banco digital</span> más grande de Argentina</h1>
            <div class="w-55 d-flex justify-content-between">
                <div class="app-store-content">
                    <img class="app-store-image" src="assets/media/presentation-bank/apple-store.webp" alt="">
                </div>
                <div class="app-store-content">
                    <img class="app-store-image" src="assets/media/presentation-bank/play-store.webp" alt="">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="content-image-animation">
                <div class="first-animation">
                    <div class="">
                        <img class="image-2" src="assets/media/presentation-bank/image-2.png" alt="">
                    </div>
                    <div class="">
                        <img class="image-4" src="assets/media/presentation-bank/image-4.webp" alt="">
                    </div>
                    <div class="">
                        <img class="image-1" src="assets/media/presentation-bank/image-1.png" alt="">
                    </div>
                    <div class="">
                        <img class="image-3"src="assets/media/presentation-bank/image-3.png" alt="">
                    </div>
                </div>
                <div class="first-animation" *ngIf="secondAnimation">
                    <div class="">
                        <img class="image-2" src="assets/media/presentation-bank/image-2.png" alt="">
                    </div>
                    <div class="">
                        <img class="image-4" src="assets/media/presentation-bank/image-4.webp" alt="">
                    </div>
                    <div class="">
                        <img class="image-1" src="assets/media/presentation-bank/image-1.png" alt="">
                    </div>
                    <div class="">
                        <img class="image-3"src="assets/media/presentation-bank/image-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

