@use "../../../assets/sass/base.scss" as *;

.container-bank-digital{
    display: flex;
    margin-top: 10rem;
}

.content-text{
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
}

.title-bank{
    color: #000;
    text-align: left;
    align-self: flex-start;
    max-width: 750px;
    font-size: 70px;
    font-family: "Cabin", sans-serif;
}

.title-bank-color{
    color: $color-primary;
}
.app-store-content{
    height: 50px;
}

.app-store-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-image-animation{
    height: 100%;

    .first-animation{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        animation: fadeIn 1s ease forwards;
    }

    .first-animation.show{
        opacity: 1;
        transition: opacity 1s ease-in;
    }

    .first-animation.hide{
        display: none;
        opacity: none;
    }

    .image-1{
        width: 280px;
        object-fit: contain;   
    }

    .image-2{
        width: 150px;
        position: absolute;
        left: 40px;
        bottom: 15px;
        object-fit: contain;
    }

    .image-3{
        width: 100px;
        top: 15px;
        left: 65%;
        position: absolute;
        object-fit: contain;
    }

    .image-4{
        width: 150px;
        max-height: 100%;
        top: 10px;
        left: 30px;
        position: absolute;
        object-fit: contain;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
