@use "../../../assets/sass/base.scss" as *;

/* #83B6E2 Me gusto el color */


.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-header{
    width: 140px;
    object-fit: contain;
}

.router-content{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid transparent;
}

.router-content.active{
    border-bottom: 2px solid $color-primary;

    .router-text{
        color: $color-primary;
    }
}

.router-content.background-router{
    height: 75%;
    background-color: #4b38ad1a;
    border-radius: 16px;
    transition: ease-in-out 0.3s;

    .router-text.color-primary{
        color: $color-primary;
    }

}

.router-content.background-router:hover{
    background-color: $color-primary;

    .router-text.color-primary{
        color: white !important;
    }
}

::ng-deep .router-content:hover{
    border-bottom: 2px solid $color-primary;

    .downloand{
        color: $color-primary;
    }

    .downloand-fill svg{
        color: $color-primary;
    }
}

.router-text{
    font-size: 16px;
    color: $color-secondary;
    cursor: pointer;
    text-decoration: none;
}

.router-text.active{
    color: $color-primary;
}

::ng-deep .downloand-fill svg{
    color: $color-secondary;
}

.col-2-5{
    width: 20%;
}

.mega-menu-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    top: 70px;
    left: 13%;
    border-radius: 15px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .submenu-emoji{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }

    .submenu-title{
        color: #000;
        font-size: 22px;
        font-weight: 400;
    }

    .submenu-subtitle{
        font-size: 18px;
        color: #000;
        line-height: 20.52px;
    }

    .submenu-ul{
        list-style: none;
        padding: 0;
    }

    .submenu-li{
        font-size: 14px;
        color: #797979;
        padding-bottom: 6px;
        padding-top: 6px;
        padding-left: 6px;
        transition: 0.2s ease-in;
    }

    .submenu-li:hover{
        color: $color-primary;
        background-color: $background-button;
        border-radius: 6px;
    }

    .content-extra{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-button;
        color: $color-primary;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 10px;
        font-size: 13px;
        transition: 0.2s ease-in;
    }

    .content-extra:hover{
        background-color: $color-primary;
        color: #FFF;
    }

    .content-extra.new{
        width: 70px;
        height: 22px;
        border-radius: 6px;
        font-size: 11px;
        padding: 0;
    }

}

.mega-menu-container.company{
    width: 40%;
    left: 30%;
}
