<div class="container-investments">
    <div class="w-100 margin-top">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="img-icon" src="assets/media/investments/grafico.png" alt="" />
            <h2 class="title-investments">Inversiones inmediatas</h2>
            <h5 class="description-investments">A tu manera o con nuestras recetas.</h5>
        </div>

        <div class="w-100 d-flex justify-content-center">
            <div class="w-100 row g-0">
                <div class="col-6">
                    <div class="d-flex flex-column me-3">
                        <div class="card-investments mb-3">
                            <div class="d-flex justify-content-end">
                                <img class="img-icon-card" src="assets/media/investments/dolar.png" alt="" />
                            </div>
                            <h3 class="title">Comprá dólar oficial cuando quieras</h3>
                            <button class="btn btn-investments">
                                Conoce más
                                <svg-icon src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
                            </button>
                        </div>
                        <div class="card-investments">
                            <div class="d-flex justify-content-end">
                                <img class="img-payment-receiveble" src="assets/media/investments/payment-receiveble.png" alt="" />
                            </div>
                            <h3 class="title">Accedé a plazos fijos con las mejores tasas</h3>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card-investments">
                        <h3 class="title">Usá Fondos Comunes de Inversión</h3>
                        <div class="d-flex justify-content-end">
                            <img class="img-mutual-funds" src="assets/media/investments/fondos-comunes.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Segurity  -->
    <div class="w-100 mt-7">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex align-items-center">
                <h2 class="title-investments">Seguridad</h2>
                <button><i class="bi bi-eye"></i></button>
            </div>
            <h5 class="description-investments">Asegurar tu cuenta es nuestra prioridad..</h5>
        </div>
        <div class="d-flex flex-column mt-4">
            <div class="d-flex">
                <div class="card-security purple me-2">
                    <div class="w-75">
                        <h3 class="title">Activá la seguridad biométrica</h3>
                        <span class="description">Protegemos tu cuenta usando reconocimiento facial y de huella.</span>
                    </div>
                    <div class="d-flex justify-content-end mt-5">
                        <div>
                            <svg-icon src="assets/media/investments/security-face-incomplete.svg"></svg-icon>
                        </div>
                        <svg-icon src="assets/media/investments/security-face.svg"></svg-icon>
                    </div>
                </div>
                <div class="card-security dark">
                    <div class="w-75">
                        <h3 class="title">Configurá tu clave personal</h3>
                        <span class="description">Esta clave de 6 dígitos va a proteger tu cuenta de posibles robos o estafas.</span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <svg-icon class="img-card-security" src="assets/media/investments/security-password.svg"></svg-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-security dark mt-2">
            <div class="row g-0">
                <div class="col-6">
                    <h3 class="title">Pausá y activá tu tarjeta al instante</h3>
                    <span class="description">Para mayor seguridad y control, podés activar tu tarjeta solo cuando la usas.</span>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                        <img src="assets/media/investments/pausa-tarjeta.avif" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column mt-4">
            <div class="d-flex">
                <div class="card-security purple me-2">
                    <div class="w-75">
                        <h3 class="title">Enterate de los movimientos de tu cuenta</h3>
                        <span class="description">Te avisamos de toda actividad que se haga en tu cuenta.</span>
                    </div>
                    <div class="d-flex justify-content-end position-absolute">
                        <img class="img-new-transference" src="assets/media/investments/new-transference.avif" alt="" />
                    </div>
                    <div class="w-35" style="margin-top: 12rem;">
                        <button class="btn btn-primary-bank">
                           Conoce más
                           <svg-icon src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
                       </button>
                    </div>
                </div>
                <div class="card-security dark">
                    <div class="w-75">
                        <h3 class="title">Atención disponible 24/7</h3>
                        <span class="description">Contactá a soporte a través de chat de la app y recibí ayuda al instante.</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-end mt-10">
                        <div class="w-35">
                            <button class="btn btn-primary-bank">
                               Conoce más
                               <svg-icon src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
                           </button>
                        </div>
                        <svg-icon src="assets/media/investments/atencion-disponible.svg"></svg-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
