/* You can add global styles to this file, and also import other style files */

//@import 'bootstrap/scss/bootstrap';

html, body { 
    height: 100%; 
}

body { 
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.w-10{width: 10%;}
.w-30{width: 30%;}
.w-35{width: 35%;}
.w-40{width: 40%;}
.w-55{width: 55%;}
.w-60{width: 60%;}
.w-65{width: 65%;}
.w-70{width: 70%;}
.w-85{width: 85%;}

.font-family-inter{
    font-family: 'Inter', sans-serif;
}

.mt-6{margin-top: 3.5rem;}
.mt-7{margin-top: 4rem;}
.mt-8{margin-top: 4.5rem;}
.mt-9{margin-top: 5rem;}
.mt-10{margin-top: 5.5rem;}
.mt-20{margin-top: 10.5rem;}

.margin-top{
    margin-top: 9rem;
}

@media (min-width: 1250px) {
    .max-width{
        width: 75%;
    }
}

@media (min-width: 1900px) {
    .max-width{
        width: 60%;
    }
}

