<div class="container-authorized-central-bank mb-5">
  <div class="d-flex justify-content-center">
    <img class="img-bank-central" src="assets/media/authorized-central-bank/central-bank.png" alt="" />
  </div>
  <div class="d-flex flex-column">
    <h2 class="text-center font-family-inter">Authorizado por el Banco Central</h2>
    <span class="text-center color-gray">Somos el primer banco digital argentino regulado por el BCRA.</span>
    <div class="d-flex justify-content-center mt-4">
      <div class="w-30">
        <button class="btn btn-primary-bank">Abrir cuenta gratis y mantenela sin costo</button>
      </div>
    </div>
  </div>

  <div class="row justify-content-evenly g-0 mt-5">
    <div class="w-30" *ngFor="let list of listOffers">
      <div class="card-offer">
        <h3 class="title">{{list.title}}</h3>
        <p class="description">{{list.description}}</p>
        <button class="btn btn-primary-bank custom">
          Conoce más
           <svg-icon src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
        </button>
        <div class="d-flex justify-contenter-center align-items-center mt-5">
          <img class="img-card" [src]="list.url" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Section Brubank is very easy -->

  <section class="margin-top">
    <h2 class="text-center title">Con Brubank, es más fácil</h2>

    <div class="d-flex justify-content-around mt-5">

      <div class="card-brubank loans me-3">
        <h2 class="font-family-inter">Adelantos y préstamos</h2>
        <span>Obtené las mejores tasas y una acreditación inmediata dónde y cuándo quieras.</span>
        <div class="w-100 d-flex justify-content-between">
          <div class="d-flex align-items-end mb-5">
            <button class="btn btn-card purple">
               Conoce más
               <svg-icon class="ms-1" src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
             </button>
          </div>
          <div>
            <img class="img-card" src="assets/media/authorized-central-bank/card-loans.png" alt="" /> 
          </div>
        </div>
      </div>

      <div class="card-brubank apply-cards">
        <h2 class="font-family-inter">Tarjetas sin complicaciones</h2>
        <span>Pedí tus tarjetas de débito y crédito Visa Brubank y arrancá a disfrutar de todos sus beneficios.</span>
        <div class="w-100 h-100 d-flex justify-content-end">
          <div class="d-flex align-items-end">
            <button class="btn btn-card dark mb-1">
                Pedir tarjeta
                <svg-icon class="ms-1" src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
              </button>
          </div>
          <div class="container-image">
            <img class="img-tarjeta" src="assets/media/authorized-central-bank/brubank-card.png" alt="" /> 
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- express transfer  -->

  <section class="margin-top">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="emoji">💸</span>
      <h2 class="title-express-transfer">Transferencias express</h2>
      <h5 class="color-gray-transference">Rápidas, seguras y personalizadas.</h5>
        <div class="container-transfere-example" [ngClass]="{'loading' : loading, 'sendTransference' : sendTransference, 'transferReceived' : transferReceived, 'showTransferReceivedChecked' : showTransferReceivedChecked}">

          <section class="d-flex justify-content-center" *ngIf="loading">
            <span class="dot">.</span>
            <span class="dot">.</span>
            <span class="dot">.</span>
          </section>

          <section *ngIf="sendTransference">
            <span>Enviando transferencia ...</span>
          </section>

          <section *ngIf="showSectionTransference">
            <div class="d-flex justify-content-between">
              <div class="content-transferReceived" *ngIf="transferReceived">
                <svg-icon class="svg-icon-color" src="assets/media/authorized-central-bank/check-list.svg"></svg-icon>
                <span>Lionel recibio tu transferencia</span>
                <span class="hour-transference">Hace 1 min.</span>
              </div>
              <span class="show-content-transfer-checked" *ngIf="showTransferReceivedChecked">
                 <svg-icon class="svg-icon-color" src="assets/media/authorized-central-bank/check-list.svg"></svg-icon>
                 <span>Lionel vio tu transferencia </span>
                 <span class="hour-transference">Hace 5 min.</span>
              </span>
            </div> 
          </section>

        </div>
    </div>
  </section>


  <!--Receive immediate transferes  -->

  <section class="mt-7">
    <div class="container-receive-transferes">
      <div class="h-100 row">
        <div class="col-6 h-100 d-flex flex-column">
          <h2 class="card-title">Recibí transferencias inmediatas</h2>
          <div style="max-width: 300px;">
            <span class="card-description">Con Brubank podés recibir transferencias de quien quieras, enterarte cuándo llegó y cuándo fue vista.</span>
          </div>
          <div class="w-75 d-flex mt-auto">
            <button class="btn btn-primary-bank custom">
              Hacer una transferencia
             <svg-icon src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
            </button>
          </div>
        </div>

        <div class="col-6 h-100">
          <div class="container-img-qr">
            <img class="image-receive-qr"src="assets/media/presentation-bank/image-3.png" alt="">
          </div>
          <div class="h-100 position-relative">
            <img class="image-receive"src="assets/media/presentation-bank/image-5.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-7">
    <div class="row g-0">
      <div class="col-6">
        <div class="card-purple">
          <h2 class="title-card-purple">Repartí sonrisas transfiriendo con GIFs</h2>
          <div>
            <video width="150px" height="150px" autoplay muted playsinline loop>
              <source src="assets/media/video/videoOne.webm" type="video/webm">
            </video>
            
            <video width="150px" height="150px" autoplay muted playsinline loop>
              <source src="assets/media/video/videoFour.webm" type="video/webm">
            </video>
            
            <div class="position-absolute">
              <video width="150px" height="150px" autoplay muted playsinline loop>
                <source src="assets/media/video/videoTwo.webm" type="video/webm">
              </video>
            </div>
            
            <div class="position-relative" style="left: 8.5rem; bottom: 1rem;">
              <video width="150px" height="150px" autoplay muted playsinline loop>
                <source src="assets/media/video/Bear.webm" type="video/webm">
              </video>
            </div>

          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card-box-shadow">
          <h2 class="title-box-shadow">¿CBU en foto? Lo solucionamos</h2>
          <div class="h-75 d-flex justify-content-center align-items-center">
            <div class="mt-auto">
              <img class="img-box-shadow" src="assets/media/authorized-central-bank/cbu.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Secure Payments -->
   <section class="mt-7">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="emoji">🤑</span>
      <h2 class="title-express-transfer">Pagos seguros</h2>
      <h5 class="color-gray-transference">Simples, no Importa cúando ni dónde.</h5>
    </div>

    <div class="d-flex mt-7">
      <div class="w-50 me-4">
        <div class="content-payments-options">
          <div class="d-flex">
            <div class="w-50 h-100 d-flex flex-column">
              <h3>QR rápido y sin contacto</h3>
              <div class="mt-auto">
                <button class="btn btn-card payments">
                  <svg-icon class="ms-1" src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
                </button>
              </div>
            </div>
            <div class="w-50 d-flex justify-content-center">
              <img class="img-qr" src="assets/media/authorized-central-bank/payments-qr.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="content-payments-options p-0">
           <div class="d-flex">
            <div class="w-60 h-100 d-flex flex-column" style="padding: 40px;">
              <h3>Girá la ruedita de premios</h3>
            </div>
            <div class="carrusel-container">
              <div class="carrusel-inner" [style.transform]="'translateY(-' + activeIndex * 50 + '%)'">
                <img *ngFor="let img of images" class="carrusel-img" [src]="img" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-payments p-0">
        <div class="d-flex flex-column">
          <div class="d-flex" style="padding: 40px;">
            <h3 class="title-payments">Pagá todos tus servicios sin complicaciones 🏠</h3>
          </div>
          <div class="d-flex justify-content-end">
            <div class="w-50 mt-auto">
              <div style="padding: 40px;">
                <button class="btn btn-primary-bank custom w-100">
                  Conoce más
                  <svg-icon src="assets/media/authorized-central-bank/arrow-right.svg"></svg-icon>
                </button>
              </div>
            </div> 
            <img class="img-payments" src="assets/media/authorized-central-bank/payments-options.webp" alt="" />
          </div>
        </div>
      </div>
    </div>

   </section>

   <!-- Google Pay and Apple Pay  -->

   <section class="mt-3 mb-5">
    <div class="d-flex">
      <div class="card-pay apple me-3">
        <h2 class="title">Apple Pay</h2>
        <div class="w-85">
          <span class="description">Abrí la app Wallet,  presioná el signo “+”, ingresa los datos de tu tarjeta Brubank y empeza a pagar con Apple Pay.</span>
        </div>
        <div class="mt-auto">
          <img src="assets/media/authorized-central-bank/apple-pay-method.png" alt="" />
        </div>
      </div>
      <div class="card-pay google">
        <h2 class="title">Google Pay</h2>
        <div class="w-85">
          <span class="description">Descargá la app, vinculá tu tarjeta Visa Brubank y pagá directo con tu celular</span>
        </div>
        <div class="mt-auto">
          <img src="assets/media/authorized-central-bank/google-pay-method.png" alt="" />
        </div>
      </div>
    </div>
   </section>


</div>
